@model Sito.Models.UtenteModificato

@{
    ViewBag.Title = "DatiUtente";
}

<h2>View</h2>

<div>
    <h4>UtenteModificato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
            @using (Html.BeginForm())
            {
                <p><button name="button" value="nome" formmethod="post" formaction=@Url.Action("Edit1")>Modifica</button></p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
            @using (Html.BeginForm())
            {
                <p><button name="button" value="cognome" formmethod="post" formaction=@Url.Action("Edit")>Modifica</button></p>
                }
            </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
            @using (Html.BeginForm())
            {
                <p><button name="button" value="email" formmethod="post" formaction=@Url.Action("Edit")>Modifica</button></p>
            }
            </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
            
        </dt>

        <dd>
            @Html.Raw("\u2022\u2022\u2022\u2022\u2022")
            @using (Html.BeginForm())
            {
                <p><button name="button" value="indirizzo" formmethod="post">Modifica</button></p>
            }
            </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
            @using (Html.BeginForm())
            {
                <p><button name="button" value="indirizzo" formmethod="post">Modifica</button></p>
            }
            </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nascita)
            <p><button name="button" value="nascita" formmethod="post">Modifica</button></p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portafoglio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portafoglio)
            @using (Html.BeginForm())
            {
                <p><button name="button" value="portafoglio" formmethod="post">Modifica</button></p>
            }
            </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "EditUtente","Home")
    @Html.ActionLink("Indietro", "Index")
</p>
