@model List<Sito.ServiceReference1.Prodotto>

@{
    ViewBag.Title = "Prodotti";
}

<h2>Prodotti</h2>
@using (Html.BeginForm())
{
    <p>
        Name  : @Html.TextBox("SearchName")<br />
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Immagine: ")
        </th>
        <th>
            @Html.DisplayName("Titolo: ")
        </th>
        <th>
            @Html.DisplayName("Produttore: ")
        </th>
        <th>
            @Html.DisplayName("Genere: ")
        </th>
        <th>
            @Html.DisplayName("Prezzo: ")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.img" alt="@item.titolo" style="width: 350px; height: 375px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezzo)
            </td>
            <td>
                @using (Html.BeginForm())
                {
                    <button name="button" value=@item.codice_prodotto formmethod="post" formaction=@Url.Action("compra", new { id = item.codice_prodotto })>Compra</button>


                }
            </td>
        </tr>
    }@Html.ValidationMessage("Errore")

</table>
