@model Sito.Models.Prodotto

@{
    ViewBag.Title = "Prodotti";
}

<h2>Prodotti</h2>

<div>
    <h4>Prodotto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produttore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produttore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
