@model List<Sito.ServiceReference2.Commesso>

@{
    ViewBag.Title = "Commessi";
}

<h2>Commessi</h2>
@using (Html.BeginForm())
{
    <p>
        Name  : @Html.TextBox("SearchName")<br />
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Codice Commesso: ")
        </th>
        <th>
            @Html.DisplayName("Nome: ")
        </th>
        <th>
            @Html.DisplayName("Cognome: ")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codice_commesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cognome)
            </td>
            <td>
                @using (Html.BeginForm())
                {
                    <button name="button" value=@item.codice_commesso formmethod="post" formaction=@Url.Action("EditCommesso")>Modifica</button>
                    <button name="button" value=@item.codice_commesso formmethod="post" formaction=@Url.Action("EliminaCommesso")>Elimina</button>

                }
            </td>

        </tr>

    }



</table>

<div>
    @using (Html.BeginForm())
    {
        <button name="button" formmethod="post" formaction=@Url.Action("AggiungiCommesso")>Aggiungi</button>

    }
    <div>
        @Html.ValidationMessage("Errore", new { @class = "text-danger" })
    </div>
</div>

<div>
    @Html.ActionLink("Back", "Index")
</div>