@model Sito.Models.Admin.ProdottiAdmin

@{
    ViewBag.Title = "dettagliProdotto";
}

<h2>dettagliProdotto</h2>

<div>
    <h4>ProdottiAdmin</h4>
    <hr />
    <div>
        @Html.ValidationMessage("Errore", new { @class = "text-danger" })
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codice_prodotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codice_prodotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantità)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantità)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_uscita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_uscita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

    </dl>
</div>
<p>
    @using (Html.BeginForm())
    {
        <button name="button" value=@Model.codice_prodotto formmethod="post" formaction=@Url.Action("EditProdotto")>Modifica</button>
        

    } |
    @Html.ActionLink("Back to List", "Listatransazioni")
</p>
