@model List<Sito.ServiceReference2.Prodotto>

@{
    ViewBag.Title = "Prodotti";
}

<h2>Prodotti</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Codice Prodotto: ")
        </th>
        <th>
            @Html.DisplayName("Titolo ")
        </th>
        <th>
            @Html.DisplayName("Genere: ")
        </th>
        <th>
            @Html.DisplayName("Producer: ")
        </th>
        <th>
            @Html.DisplayName("Quantità: ")
        </th>
        <th>
            @Html.DisplayName("Data uscita: ")
        </th>
        <th>
            @Html.DisplayName("Prezzo: ")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.codice_prodotto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.titolo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.genere)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.producer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.quantità)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.data_uscita)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.prezzo)
    </td>

    <td>
        <img src=@item.img alt=@item.titolo
    </td>
    <td>
        @using (Html.BeginForm())
        {
            <button name="button" value=@item.codice_prodotto formmethod="post" formaction=@Url.Action("EditProdotto")>Modifica</button>
        }
    </td>


</tr>

    }



</table>

<div>
    @Html.ValidationMessage("Errore")
</div>